
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Knewave|Questrial|Racing+Sans+One');

//color variables
$offblack: #181A1C;
$lightblue: #A9CEF4;
$grayblue: #36494E;
$black: #000000;
$skyblue: #597081;
$middarkblue: #011627;
$darkblue: #071013;
$brightblue: #59FFe6;
$offwhitegray: #F5F5F5;
$grayishblue: #A9C6AF;

//font variables


